# Drowsiness Detection

<p>This project uses the Drowsiness Detection Dataset from kaggle and tries to correctly detect drowsiness to avoid accidents while driving. </p>

### Getting Started:

- First we need to convert the raw images present in our dataset to a usable tabular format.

In [6]:
! python -m pip install numpy

Requirement already satisfied: numpy in d:\projects\drowsiness_detection\drowsy_env\lib\site-packages (1.25.1)

In [1]:
import os
import cv2
import pandas as pd
import numpy as np

In [2]:
def load_data(folder, label):
    data = []
    for filename in os.listdir(folder):
        img_path = os.path.join(folder, filename)
        image = cv2.imread(img_path)
        image = cv2.resize(image, (224, 224))
        image = image / 255.0  # Normalize pixel values to [0, 1]
        data.append((image, label))
    return data

In [3]:
# Load data from the 'drowsy' and 'not_drowsy' folders
drowsy_data = load_data("D:\PROJECTS\DROWSINESS_DETECTION\Driver Drowsiness Dataset (DDD)\Drowsy", 1)
not_drowsy_data = load_data(r"D:\PROJECTS\DROWSINESS_DETECTION\Driver Drowsiness Dataset (DDD)\Non Drowsy", 0)

# Combine the data and labels into a single DataFrame
data = drowsy_data + not_drowsy_data
df = pd.DataFrame(data, columns=["image", "label"])

# Shuffle the DataFrame
df = df.sample(frac=1).reset_index(drop=True)

In [6]:
df.head()

                                               image  label
0  [[[0.09019607843137255, 0.13725490196078433, 0...      1
1  [[[0.09411764705882353, 0.1607843137254902, 0....      1
2  [[[0.6352941176470588, 0.7254901960784313, 0.8...      1
3  [[[0.8274509803921568, 0.9411764705882353, 1.0...      1
4  [[[0.0392156862745098, 0.09803921568627451, 0....      1

In [7]:
df.tail()

                                                   image  label
12689  [[[0.8666666666666667, 0.9098039215686274, 0.9...      0
12690  [[[0.34901960784313724, 0.44313725490196076, 0...      1
12691  [[[0.25882352941176473, 0.34901960784313724, 1...      0
12692  [[[0.8235294117647058, 0.9019607843137255, 0.9...      1
12693  [[[0.7176470588235294, 0.796078431372549, 0.88...      1